Flask==2.3.3
Flask-WTF==1.2.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
python-dotenv==1.0.0
pymysql==1.1.0
gunicorn==21.2.0
email_validator==2.1.0
reportlab==4.0.8
Werkzeug==2.3.8
flask-socketio
eventlet
razorpay