.score-box select {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
}

.run-buttons {
    display: flex;
    gap: 10px;
}

.btn-run {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    background: #ffae00;
    border: none;
    color: black;
    border-radius: 10px;
}

.btn-run:hover {
    background: #ffcc33;
}
