{% extends "base.html" %}
{% block content %}

<h3 class="fw-bold mb-3">🥗 Cricket Diet Plans</h3>

<div class="row g-3">
  <div class="col-md-3">
    <a href="/diet/u14" class="card p-3 text-center">U-14 Diet</a>
  </div>
  <div class="col-md-3">
    <a href="/diet/u16" class="card p-3 text-center">U-16 Diet</a>
  </div>
  <div class="col-md-3">
    <a href="/diet/u19" class="card p-3 text-center">U-19 Diet</a>
  </div>
  <div class="col-md-3">
    <a href="/diet/senior" class="card p-3 text-center">Senior Diet</a>
  </div>
</div>

<hr>

<h5 class="fw-bold mt-4">🍎 Food Nutrition Database</h5>

<div class="row g-3">
  <div class="col-md-4"><a href="/diet/foods/fruits" class="card p-3">Fruits</a></div>
  <div class="col-md-4"><a href="/diet/foods/vegetables" class="card p-3">Vegetables</a></div>
  <div class="col-md-4"><a href="/diet/foods/nuts-seeds" class="card p-3">Nuts & Seeds</a></div>
  <div class="col-md-4"><a href="/diet/foods/dairy" class="card p-3">Dairy</a></div>
  <div class="col-md-4"><a href="/diet/foods/grains" class="card p-3">Grains</a></div>
  <div class="col-md-4"><a href="/diet/foods/protein" class="card p-3">Protein Foods</a></div>
</div>

{% endblock %}
