{% extends "base.html" %}
{% block content %}

<h3 class="mb-3">🥜 Nuts & 🌻 Seeds (per 100g)</h3>

<table class="table table-bordered table-striped">
<tr>
<th>Food</th><th>Calories</th><th>Protein</th><th>Carbs</th><th>Fat</th>
</tr>

<tr><td>Almonds</td><td>579</td><td>21g</td><td>22g</td><td>50g</td></tr>
<tr><td>Cashews</td><td>553</td><td>18g</td><td>30g</td><td>44g</td></tr>
<tr><td>Walnuts</td><td>654</td><td>15g</td><td>14g</td><td>65g</td></tr>
<tr><td>Peanuts</td><td>567</td><td>26g</td><td>16g</td><td>49g</td></tr>
<tr><td>Chia Seeds</td><td>486</td><td>17g</td><td>42g</td><td>31g</td></tr>
<tr><td>Flax Seeds</td><td>534</td><td>18g</td><td>29g</td><td>42g</td></tr>
<tr><td>Pumpkin Seeds</td><td>559</td><td>30g</td><td>11g</td><td>49g</td></tr>

</table>

{% endblock %}
