{% extends "base.html" %}
{% block content %}

<h3 class="mb-3">🥦 Vegetables (per 100g)</h3>

<table class="table table-bordered table-striped">
<tr>
<th>Vegetable</th><th>Calories</th><th>Protein</th><th>Carbs</th><th>Fat</th>
</tr>

<tr><td>Spinach</td><td>23</td><td>2.9g</td><td>3.6g</td><td>0.4g</td></tr>
<tr><td>Broccoli</td><td>34</td><td>2.8g</td><td>7g</td><td>0.4g</td></tr>
<tr><td>Carrot</td><td>41</td><td>0.9g</td><td>10g</td><td>0.2g</td></tr>
<tr><td>Beetroot</td><td>43</td><td>1.6g</td><td>10g</td><td>0.2g</td></tr>
<tr><td>Potato</td><td>87</td><td>2g</td><td>20g</td><td>0.1g</td></tr>
<tr><td>Sweet Potato</td><td>86</td><td>1.6g</td><td>20g</td><td>0.1g</td></tr>
<tr><td>Tomato</td><td>18</td><td>0.9g</td><td>3.9g</td><td>0.2g</td></tr>
<tr><td>Onion</td><td>40</td><td>1.1g</td><td>9g</td><td>0.1g</td></tr>
<tr><td>Ladyfinger</td><td>33</td><td>2g</td><td>7g</td><td>0.2g</td></tr>
<tr><td>Cucumber</td><td>15</td><td>0.7g</td><td>3.6g</td><td>0.1g</td></tr>

</table>

{% endblock %}
