{% extends "base.html" %}
{% block content %}

<h3 class="mb-3">🍗 Protein Foods (per 100g cooked)</h3>

<table class="table table-bordered table-striped">
<tr>
<th>Food</th><th>Calories</th><th>Protein</th><th>Carbs</th><th>Fat</th>
</tr>

<tr><td>Egg</td><td>155</td><td>13g</td><td>1g</td><td>11g</td></tr>
<tr><td>Chicken Breast</td><td>165</td><td>31g</td><td>0g</td><td>3.6g</td></tr>
<tr><td>Fish</td><td>206</td><td>22g</td><td>0g</td><td>12g</td></tr>
<tr><td>Salmon</td><td>208</td><td>20g</td><td>0g</td><td>13g</td></tr>
<tr><td>Tuna</td><td>132</td><td>29g</td><td>0g</td><td>1.3g</td></tr>
<tr><td>Mutton</td><td>294</td><td>25g</td><td>0g</td><td>21g</td></tr>
<tr><td>Chickpeas</td><td>164</td><td>9g</td><td>27g</td><td>2.6g</td></tr>

</table>

{% endblock %}
