{% extends "base.html" %}
{% block content %}

<h3 class="mb-3">🥛 Dairy Products (per 100g)</h3>

<table class="table table-bordered table-striped">
<tr>
<th>Dairy</th><th>Calories</th><th>Protein</th><th>Carbs</th><th>Fat</th>
</tr>

<tr><td>Milk</td><td>61</td><td>3.2g</td><td>5g</td><td>3.3g</td></tr>
<tr><td>Curd</td><td>98</td><td>11g</td><td>4g</td><td>5g</td></tr>
<tr><td>Paneer</td><td>265</td><td>18g</td><td>6g</td><td>20g</td></tr>
<tr><td>Cheese</td><td>403</td><td>25g</td><td>1.3g</td><td>33g</td></tr>
<tr><td>Butter</td><td>717</td><td>0.8g</td><td>0g</td><td>81g</td></tr>

</table>

{% endblock %}
