<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Batter</th>
            <th>R</th>
            <th>B</th>
            <th>4s</th>
            <th>6s</th>
            <th>Out</th>
        </tr>
    </thead>
    <tbody>
        {% for s in batting %}
        <tr>
            <td>{{ s.player_name }}</td>
            <td>{{ s.runs }}</td>
            <td>{{ s.balls }}</td>
            <td>{{ s.fours }}</td>
            <td>{{ s.sixes }}</td>
            <td>{{ "Yes" if s.is_out else "No" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
